<div class="text-white bg-dark">
    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4">
        <div class="col mt-3">
            <ul>
                <li><h5>Get to Know Us</h5></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Careers</a></li>
                <li><a href="#">Press Releases</a></li>
                <li><a href="#">Amazon Sales</a></li>
                <li><a href="#">Gift a Smile</a></li>
            </ul>
        </div>

        <div class="col mt-3">
            <ul>
                <li><h5>Connect with Us</h5></li>
                <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
                <li><a href="#"><i class="fab fa-twitter-square"></i> Twitter</a></li>
                <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
            </ul>
        </div>

        <div class="col mt-3">
            <ul>
                <li><h5>Make Money with Us</h5></li>
                <li><a href="#">Sell on Amazon</a></li>
                <li><a href="#">Sell Under Amazon Accelerator</a></li>
                <li><a href="#">Amazon Global Selling</a></li>
                <li><a href="#">Become an affiliate</a></li>
                <li><a href="#">Fullfilment by Amazon</a></li>
                <li><a href="#">Advertise Your Products</a></li>
                <li><a href="#">Amazon Pay on Merchants</a></li>
            </ul>
        </div>

        <div class="col mt-3">
            <ul>
                <li><h5>Let Us Help You</h5></li>
                <li><a href="#">COVID-19 and Amazon</a></li>
                <li><a href="#">Your Account</a></li>
                <li><a href="#">Returns Centre</a></li>
                <li><a href="#">100% Purchase Protection</a></li>
                <li><a href="#">Amazon App Download</a></li>
                <li><a href="#">Amazon Assistant Download</a></li>
                <li><a href="#">Help</a></li>
            </ul>
        </div>


    </div>
</div>