<ul class="nav nav-pills d-flex justify-content-evenly">
    <li class="nav-item">
      <a class="nav-link border bg-primary text-white" routerLink="mobiles" routerLinkActive="active">Mobiles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link border bg-primary text-white" routerLink="watches" routerLinkActive="active">Watches</a>
    </li>
    <li class="nav-item">
      <a class="nav-link border bg-primary text-white" routerLink="televisions" routerLinkActive="active">Televisions</a>
    </li>

  </ul>

<div class="continer-fluid">
    <router-outlet></router-outlet>
</div>
