<div class="w-75 mx-auto p-2 mt-5" style="background-color: #232F3E; color: white;">
    <h2 class="text-center mt-5">Registration</h2>

    <div class="row">

        <div class="col-sm-2 col-md-3"></div>
        <div class="col-sm-8 col-md-6">
            <form>

                    <div class="mb-3">
                        <label for="un" class="form-label">Username</label>
                        <input type="text" class="form-control" id="un">
                    </div>

                    <div class="mb-3">
                        <label for="pw" class="form-label">Password</label>
                        <input type="password" class="form-control" name="" id="pw">
                    </div>

                    <div class="mb-3">
                        <label for="dob" class="form-label">Date of Birth</label>
                        <input type="date" class="form-control" name="" id="dob">
                    </div>

                    <div class="mb-4">
                        <label for="em" class="form-label">Email</label>
                        <input type="email" class="form-control" name="" id="em">
                    </div>

                    <button type="submit" class="btn text-white btn-success d-block mx-auto mb-4">Register</button>

            </form>
        </div>
        <div class="col-sm-2 col-md-3"></div>

    </div>
</div>
